#wrapper{
    display:flex;
    justify-content: space-around;
    }
div{
    text-align: center;
}
#wrapper2{

    display:flex;
    justify-content: space-around;
    
}
.divDrum{
    width:20%;
    flex:1
    
}
#kickdiv{
    flex:2;
}

#ridePic{
        width: 100%;
        animation-duration: 1s; 
}

#ridePicHit{
    width: 100%;
    display:none;
    animation-duration: 1s;
}



#tomPic{
        width: 100%;
    

}


#tomPicHit{
    width: 100%;
    display:none;
}

#kickPic{
        width: 100%;

}

#kickPicHit{
    width: 100%;
    display:none;
}

#snarePic{
    width: 100%;
}

#snarePicHit{
    width: 100%;
    display:none;
}

#hihatPic{
    width: 100%;

}
#hihatPicHit{
    width: 100%;
    display:none;
}